<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Wall - Main page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
</head>
<style>
    .alert {
        color: crimson;
    }
    .nav {
        display: inline-block;
    }
</style>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>Simplified Wall</h4>
            </div>
            <div class="col-md-4">
                <h4 class="nav">Welcome Michael</h4>
                <a href="#">Logoff</a>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>3 messages for you, Michael</h3>
                <div class="row">
                    <div class="col-md-10">

                        <h4>Lisa said (3 hours ago):</h4>
                        <p>"Hi Michael, how are you?"</p>
                    </div>
                    <div class="col-md-2">

                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">

                        <h4>Speros said (15 hours ago):</h4>
                        <p>"What's up?"</p>
                    </div>
                    <div class="col-md-2">

                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-10">
                        <h4>Eli said (1 day ago):</h4>
                        <p>"help?"</p>
                    </div>
                    <div class="col-md-2">

                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Send a message</h3>
                <p>You have sent a total of 14 messages so far</p>
                <div class="row">
                    <div class="col-md-2">
                        <h6>Alex</h6>
                    </div>
                    <div class="col-md-10">
                        <form class="form-inline">
                            <textarea class="form-control" cols="30" rows="2"></textarea>
                            <button type="submit" class="btn btn-success">Send</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h6>Mary</h6>
                    </div>
                    <div class="col-md-10">
                        <form class="form-inline">
                            <textarea class="form-control" cols="30" rows="2"></textarea>
                            <button type="submit" class="btn btn-success">Send</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h6>George</h6>
                    </div>
                    <div class="col-md-10">
                        <form class="form-inline">
                            <textarea class="form-control" cols="30" rows="2"></textarea>
                            <button type="submit" class="btn btn-success">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>

</html>